<% layout('layouts/boilerplate') %>

    <% const locus=master.loc ;const characters=master.char; %>
        <form class="needs-validation" action="/adventures/<%=locus._id%>?_method=PUT" method="POST" novalidate
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Session Name</label>
                <div class="input-group">
                    <input class="form-control" type="text" value="<%=locus.title %>" name="location[title]" id="title"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please designate a Session Name.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="images" class="form-label">Upload Images - Choose files</label>
                <input class="form-control" type="file" id="images" name="location[image]" multiple>
            </div>
            <div class="mb-3">
                <div>
                    <p>Check images to Remove Existing Images</p>
                </div>
                <% locus.images.forEach(function(img,i) { %>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="deleteImages[]" value="<%= img.filename %>"
                            type="checkbox" id="inlineCheckbox<%= i %>" value="option<%= i %>">
                        <label class="form-check-label" for="inlineCheckbox<%= i %>"><img src="<%= img.thumbnail %>"
                                class="img-thumbnail" style="max-height: 150px; object-fit: cover;"
                                alt="<%= img.filename %>"></label>
                    </div>
                    <% }) %>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Pick Characters</label>
                <select multiple="multiple" name="location[characters]" class="form-select multiple" size="6"
                    aria-label="multiple select" required>
                    <% for(let cha of characters) { %>
                        <option <% for( let test of locus.characters) { if (cha===test) { %> selected <% }}%>
                                valus="<%= cha %>">
                                    <%= cha %>
                        </option>
                        <% }%>
                </select>
                <div class="valid-feedback">
                    Characters Selected!
                </div>
                <div class="invalid-feedback">
                    Was no one there?
                </div>
            </div>
            <div class="mb-3">
                <lable class="form-label" for="city">City</lable>
                <input class="form-control" type="text" name="location[city]" value="<%=locus.city %>" id="city"
                    placeholder="City and State" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Give us a location to sniff.
                </div>
            </div>
            <div class="mb-3">
                <lable class="form-label" for="session">Session Number</lable>
                <input class="form-control" type="number" name="location[session]" value="<%=locus.session %>"
                    id="session" placeholder="1" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Something serial for the Cockroach.
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Edit Current Session</button>
            </div>
        </form>
        <div>
            <a href="/adventures/<%= locus._id %>">Back to Location</a>
        </div>