<% layout('layouts/boilerplate') %>
    <h1>Adventure world Locations - List</h1>
    <div class="container">
        <div class="row g-4">
            <% for (let location of loci) { %>
                <div class="col-md-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-6">
                                <% for (let img of location.images) { %>
                                    <img src="<%= img.url %> " class="card-img-top" alt="...">
                                    <% break } %>
                            </div>
                            <div class="col-6 d-flex flex-column justify-content-center">
                                <h5 class="card-title">
                                    <%= location.title %>

                                </h5>
                                <p class="card-text">
                                    Session <%= location.session %> | <%= location.city %>
                                </p>
                                <a class="btn btn-primary me-3" href="/adventures/<%= location.id %> ">View Session</a>
                            </div>

                        </div>
                    </div>
                </div>

                <% } %>
        </div>
    </div>