<% layout('layouts/boilerplate') %>

    <h1>Adventure world Locations - List</h1>
    <div class="container">
        <div class="row g-4">
            <% for (let location of loci) { %>
                <div class="col-md-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-6">
                                <img src="<%= location.image %> " style="max-width: 100%; object-fit: cover;"
                                    class="image-thumbnail float-end">
                            </div>
                            <div class="col-6 d-flex flex-column justify-content-center">
                                <h5 class="card-title">
                                    <%= location.title %>

                                </h5>
                                <p class="card-text">
                                    Session <%= location.session %> | <%= location.city %>
                                </p>
                                <a class="btn btn-primary" href="/adventures/<%= location.id %> ">View Session</a>
                            </div>

                        </div>
                    </div>
                </div>

                <% } %>
        </div>
    </div>
    <div>
        <a href="/adventures/new">Add Pack</a>
    </div>