<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location - <%= locus.title %>
    </title>
</head>

<body>
    <h1>
        <%= locus.title %>
    </h1>
    <h2>
        <%= locus.city %>
    </h2>
    <p><a href="/adventures/<%= locus._id %>/edit">Edit this Pack</a></p>
    <p>
    <form action="/adventures/<%=locus._id%>?_method=DELETE" method="POST"><button>Delete Location</button></form>
    </p>
    <p><a href='/adventures'>Go Back!</a></p>

</body>

</html>