<% layout('layouts/boilerplate') %>
    <% function getRank (val) { let val2=parseInt(val); if (val2===0) { return 'Whelp' ; } else if (val2===1) {
        return 'Cliath' ; } else if (val2===2) { return 'Fostern' ; } else if (val2===3) { return 'Adren' ; } else if
        (val2===4) { return 'Athro' ; } else if (val2===5) { return 'Elder' ; } else { return 'Wut?' } } ; %>

        <div class="container mb-5">
            <div class="row justify-content-md-center">
                <div class="col-6">
                    <h1>
                        <%= locus.title %>
                    </h1>
                    <img class="img-thumbnail rounded float-end " src="<%= locus.image %>">
                    <p class="small">A story told by: <%= locus.author.username %>
                    </p>
                    <p>
                        Session Number: <%=locus.session%> | Location: <%= locus.city %>
                                <p>
                                    <hr>
                                <h3>Characters in the Session:</h3>
                                <ul>
                                    <% for (let cha of locus.characters ) { %>
                                        <li>
                                            <%= cha %>
                                        </li>
                                        <% } %>
                                </ul>
                </div>
                <div class="col-6">
                    <h3>Current Stories:</h3>
                    <%for(let story of locus.stories) { %>
                        <div class="card">
                            <div class="card-body">
                                <h4>
                                    <%= story.title %> by <%= getRank(story.rank) %>
                                </h4>
                                <p>
                                    <%= story.body %>
                                </p>
                                <% if ( currentUser && story.author.equals(currentUser._id)) { %>
                                    <form action="/adventures/<%=locus._id%>/stories/<%=story._id%>?_method=DELETE"
                                        method="POST"><button class="btn-sn btn-danger ">Strike Story</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>


                            <% if(currentUser) { %>
                                <div class="form-area">
                                    <hr>
                                    <h3>Share your story:</h3>
                                    <form action="/adventures/<%=locus._id%>/stories" method="POST"
                                        class="needs-validation" novalidate>
                                        <div class="form-group my-3">
                                            <!-- /* Bop */ -->
                                            <fieldset class="starability-checkmark">
                                                <legend>Rank:</legend>
                                                <input type="radio" id="no-rate-checkmark" class="input-no-rate"
                                                    name="story[rank]" value="0" checked aria-label="Whelp" />

                                                <input type="radio" id="checkmark-rate1" name="story[rank]" value="1" />
                                                <label for="checkmark-rate1" title="Cliath">Cliath</label>

                                                <input type="radio" id="checkmark-rate2" name="story[rank]" value="2" />
                                                <label for="checkmark-rate2" title="Fostern">Fostern</label>

                                                <input type="radio" id="checkmark-rate3" name="story[rank]" value="3" />
                                                <label for="checkmark-rate3" title="Adren">Adren</label>

                                                <input type="radio" id="checkmark-rate4" name="story[rank]" value="4" />
                                                <label for="checkmark-rate4" title="Athro">Athro</label>

                                                <input type="radio" id="checkmark-rate5" name="story[rank]" value="5" />
                                                <label for="checkmark-rate5" title="Elder">Elder</label>

                                                <span class="starability-focus-ring"></span>
                                            </fieldset>
                                            <!-- /* End Bop */-->
                                        </div>
                                        <div class="form-group my-3">
                                            <label class="form-label" for="title">Title</label>
                                            <input type="text" class="form-control" name="story[title]" id="title"
                                                required>
                                        </div>
                                        <div class="form-group my-3">
                                            <label class="form-label" for="body">Story</label>
                                            <textarea class="form-control" maxlength="255" name="story[body]" id="body"
                                                required></textarea>
                                            <div class="valid-feedback">
                                                A fine howl!
                                            </div>
                                        </div>
                                        <button class="btn btn-warning">Add a Story:</button>
                                    </form>
                                </div>
                                <% } %>
                                    <hr>
                                    <div class="clearfix"></div>
                                    <div class="utilities row justify-content-md-center py-3 bg-secondary">
                                        <% if ( currentUser && locus.author.equals(currentUser._id)) { %>
                                            <div class="col-4 d-flex justify-content-center"><a class="btn btn-warning"
                                                    href="/adventures/<%= locus._id %>/edit">Edit
                                                    this Session</a>
                                            </div>
                                            <div class="col-4 d-flex justify-content-center">
                                                <form action="/adventures/<%=locus._id%>?_method=DELETE" method="POST">
                                                    <button class="btn btn-danger">Delete
                                                        Session</button>
                                                </form>
                                            </div>
                                            <% } %>
                                                <div class="col-4 d-flex justify-content-center"><a class="btn btn-dark"
                                                        href='/adventures'>Go Back!</a></div>

                                    </div>


                </div>
            </div>

        </div>